*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Resize font to change 1rem = 1px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  counter-reset: figcaption 0;
  counter-increment: figcaption 1;
}
