@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p.h1 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.25;
}
h1,
p.h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 1.8rem;
}

p {
  margin-bottom: 2.4rem;
}

strong,
b {
  font-weight: bold;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@media screen and (max-width: 400px) {
  input {
    font-size: 1.3rem !important;
  }
}
