$bg: map-get(
  $map: $dark-colors,
  $key: 'bg',
);
$contrast: map-get(
  $map: $dark-colors,
  $key: 'contrast',
);
$primary: map-get(
  $map: $dark-colors,
  $key: 'primary',
);

@each $name, $color in $dark-colors {
  .#{$name} {
    background-color: $color;
  }
}

body {
  background-color: $bg;
  color: $contrast;
}
